- if latest_date != item.date
    - if @sum_by_date[latest_date]
        %tr
            %td
            %td
            %td
            %td{:class => "maintable"}= @sum_by_date[latest_date]

%tr
    %form{:method => :post}
        %td{:class => "maintable"} 
            - if latest_date != item.date
                = item.date
        %td{:class => "maintable"}= item.message
        %td{:class => "maintable"}= item.project
        %td{:class => "maintable"}
            %input{:type => "input", :name => "duration", :value => "#{item.duration}"}
        %td{:class => "maintable"}
            %input{:class => "maintable", :value => "Save", :type => "submit"}
            %input{:type => "hidden", :name => "id", :value => "#{item.id}"}
            %input{:type => "hidden", :name => "message", :value => "#{item.message}"}
            %input{:type => "hidden", :name => "project", :value => "#{item.project}"}
            %input{:type => "hidden", :name => "date", :value => "#{item.date}"}

- latest_date = item.date
