
%h2 SAP-Records

- if show_projectname
    %a{:href => "sap"} hide projectnames
- else
    %a{:href => "sapp"} show projectnames

%table
    %tr
        - if show_projectname
            %th{:class => "maintable"} Project
        %th{:class => "maintable"} Main-ID
        %th{:class => "maintable"} Sub-ID
        %th{:class => "maintable"} Dummy
        - for weekday in $weekdays
            %th{:class => "maintable"}= weekday
    - for item in items
        %tr
            - if show_projectname
                %td{:class => "maintable"}= item.project
            %td{:class => "maintable"}= item.mainid
            %td{:class => "maintable"}= item.subid
            %td{:class => "maintable"}
            - for weekday in $weekdays
                %td{:class => "maintable"}= item.send(weekday)
